<h1>Add bookmark</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit 'Create bookmark' %>
<% end %>
<%= link_to list_path(@list) do %>
  <p><i class="fas fa-arrow-left"></i> Go back</p>
<% end %>
